<div class="alert alert-dark text-center" role="alert">
  <h3>SİPARİŞLERİM</h3>
</div>

<div class="container mt-5">
  <div class="row">
      <div class="col md-9">
          <table class="table table-bordered">
              <thead>
                  <tr>
                      <th>Ürün Fotoğrafı</th>
                      <th>Ürün Adı</th>
                      <th>Sipariş Tarihi</th>
                      <th>Adres</th>
                      <th>Fiyat</th>
                      <th>Sipariş Durumu</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td><img src="assets/ask/kucukyalanlar.jpg" width="100" alt=""></td>
                      <td>Küçük Yalanlar</td>
                      <td>30.11.2021</td>
                      <td>a mah</td>
                      <td>43₺</td>
                      <td>Onay Bekliyor</td>
                  </tr>
                  <tr>
                      <td><img src="assets/bilim/sapiens.jpg" width="100" alt=""></td>
                      <td>Sapiens</td>
                      <td>30.11.2021</td>
                      <td>a mah</td>
                      <td>55₺</td>
                      <td>Onay Bekliyor</td>
                  </tr>
                  <tr>
                      <td><img src="assets/cocuk/cocuklarnasilbasarir.jpg" width="100" alt=""></td>
                      <td>Çocuklar Nasıl Başarır?</td>
                      <td>30.11.2021</td>
                      <td>a mah</td>
                      <td>51₺</td>
                      <td>Onay Bekliyor</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>